/* My Times Stylesheet */

/* ---- Header Section ---- */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid black;
	
}

.logo {
	display: flex;
	justify-content: center;
	padding: 5px 5px 5px 20px;
	color: MediumAquamarine;
}

.logo h4 {
	padding-left: 10px;
}

.nav {
	padding-right: 40px;
}

.nav span {
	padding: 10px;
}

.nav a {
	color: black;
	
}

/* ---- Main Section ---- */
.main {
	/*border: 1px solid red;*/
	display: flex;
	
}

/*--- Large Column --- */
div {
	padding: 5px 8px 5px 5px;
}
.column.large {
	display: flex;
	width: 630px;
	padding-top: 20px;
	/*border: 1px solid red;*/
	flex-direction: column;
}

h2,  {
	font-size: 1.3em;
}

h3 {
	font-size: 2em;
}


.main p {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}

.mainback {
	display: flex;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	flex-wrap: wrap;
  }

.midcolumns {
	display: flex;
	
	justify-content: space-between;
	/*border: 1px solid black;*/
}

.firstsubcolumn, .secondsubcolumn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*--- Medium Column --- */

.column.medium {
	display: flex;
	width: 300px;
	flex-direction: column;
	/*border: 1px solid orange;*/
	justify-content: flex-start;
}

.thirdsubcolumn {
	padding-top: px;
}


.fourthsubback {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
	display: flex;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	flex-wrap: wrap;
  	color: white;
}

.earth, .photographer {
	height: 275px;
	display: flex;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 25px;
  	color: white;
}

.photographer {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
	
}

.earth {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.midcolumns h2 {
	align-self: space-around;
	justify-content: center;
}

/*--- Small Column -- */ 

.column.small {
	display: flex;
	flex-wrap: wrap;
	width: 240px;
	flex-direction: column;
	align-items: center;
}

.column.small h3 {
	font-size: 16px;
	font-weight: bold;
}

ul {
	padding: 2px;
	
}

li {
	width: 100%;
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: 12px;
	color: DimGray;
	list-style: none;
	padding: 10px 15px;
	border-bottom: 1px solid black;
}	

/*--- Footer Section: --- */

.footer {
	display: flex;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer h4 {
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.footersec {
	display: flex;
	justify-content: center;
	align-items: center;
}


















































